*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}
img{
  pointer-events: none;
}
.anti-click{
  width: 100%;
  heigth: 100%;
  background-color: red;
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url(img/core\ dance.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  padding: 4vw;
}

h1, h4, h5{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

h1 {
  font-size: 15vw;
  margin-bottom: 10vh;
}
h4 {
  font-size: 5vw;
  margin-bottom: 4vh;
}
h5 {
  font-size: 4vw;
}